USE [master]
GO
/****** Object:  Database [nexos]    Script Date: 28/03/2022 11:57:31 p. m. ******/
CREATE DATABASE [nexos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'nexos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\nexos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'nexos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\nexos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nexos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nexos]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/03/2022 11:57:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[libro]    Script Date: 28/03/2022 11:57:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[libro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Año] [varchar](100) NOT NULL,
	[Genero] [varchar](100) NOT NULL,
	[NumeroPaginas] [varchar](100) NOT NULL,
	[Editorial] [varchar](100) NOT NULL,
	[Autor] [varchar](100) NOT NULL,
	[NombreCompleto] [varchar](100) NOT NULL,
	[FechaNacimiento] [varchar](100) NOT NULL,
	[Ciudad] [varchar](100) NOT NULL,
	[CorreoElectronico] [varchar](100) NOT NULL,
	[NombreEditorial] [varchar](100) NOT NULL,
	[DirecciorCorrespondencia] [varchar](100) NOT NULL,
	[Telefono] [varchar](100) NOT NULL,
	[CorreoEditorial] [varchar](100) NOT NULL,
	[MaximoLibros] [varchar](100) NOT NULL,
 CONSTRAINT [PK_libro] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
